body{
    background-color: beige; /*Sivuston taustan väri*/
    
}

main{       /*Tekstien ja sivun reunan väli*/
    margin-left: 20px;
    margin-right: 20px;
}
h1{         /*Pääotsikon(h1) ja väliotsikon(h3) ulkoasu ja lokaatio */
    text-align: center;
    color:black;
    font-family: "anton";
}
h3{
    text-align: center;
}
.navbar ul{     /*Navigaatiopalkin ulkoasu*/
    list-style-type: none;
    background-color: rgb(172, 160, 141);
    padding: 0px;
    margin: 0px; 
    overflow: hidden; 
     
}
.navbar a{
    color:black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgba(133, 122, 103, 0.941) ;
}
.navbar li{
    float: left;
}
p{          /*Leipätekstin ulkoasu*/
    color:black;
    font-family: "Open Sans" "consolas", sans-serif;
    text-align: center;
    
}
img{ /*Kuvien maksimileveys*/
    max-width: 100%; 

}
.container{
    padding: 0 1em;
    max-width: 60rem;
}
header{ 
    min: height 300px; ;
}
.center{ /*Sivujen kuvien asettelu*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
